@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Lato:ital,wght@0,400;0,700;1,300;1,400&0&display=swap");

.App {
	width: 100%;
	min-height: 100vh;
	font-family: "Inter", sans-serif;
	background: linear-gradient(120deg, #304df1, #101aa5);
}

.heading {
	font-family: "Lato", sans-serif;
	color: white;
	text-transform: uppercase;
	padding: 30px 0px;
	margin: 0px;
	z-index: 1;
	text-align: center;
}

@media screen and (max-width: 800px) {
	.heading {
		font-size: 35px;
		margin: 15px 0px;
	}
}
